.main-header{
  background: #fff;
  height: 130px;
  padding: 10px;
  @extend %clearfix;
}

.logo{
  float: left;
  position: relative;
  top: 15px;
}

.user-login-wrapper{
  float: right;
  position: relative;
}

.user-login-form-wrapper{
  background: #666;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  @extend %trs05;
  &.active{
    opacity: 1;
    visibility: visible;
  }
}
.user-login-form-wrapper label{
  display: block;
}
.user-login-form-wrapper button{
  display: block;
}

.search-wrapper{
  position: absolute;
  top: 75px;
  right: 10px;
  padding-right: 135px;
  .btn{
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
