@import "compass/css3";
body{
  background: url('../img/teste.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.main-header{
  background: rgba(#c4aa81, 1);
  padding: 10px 0;
  @extend %clearfix;
}

.logo{
  float: left;
}

.user-interaction{
  @extend %clearfix;
}

.user-login-wrapper{
  float: right;
  position: relative;
  top: 20px;
}

.user-login-form-wrapper{
  background: #666;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  @include transition(0.5s);
  &.active{
    opacity: 1;
    visibility: visible;
  }
}
.button-login-user{

}
.user-login-form-wrapper label{
  display: block;
}
.user-login-form-wrapper button{
  display: block;
}

.search-wrapper{
  position: absolute;
  top: 70px;
  right: 0;
}