.wrapper{
  margin: 0 auto;
  position: relative;
  width: 960px;
  @extend %clearfix;
}

.beer-list{
  height: 960px;
  height: auto;
  padding: 0;
  @extend %clearfix;
}
.beer-list li{
  display: inline-block;
  float: left;
  outline: 1px solid #d6d6d6;
  margin: 0 20px 20px 0;
  min-height: 175px;
  text-align: center;
  width: 175px;
  &:nth-child(5n+5){
    margin-right: 0;
  }
  &:hover{
    a{
      color: #fff;
      background:darken($yellow, 10%);
    }
  }
  a{
    padding: 3px 0;
    margin-top: -4px;
    display: block;
    color: darken($yellow, 10%);
    @include transition(0.5s);
  }
}

.main-footer{
  width: 100%;
}

.category-navigation{
  float: left;
  width: 250px;
}
.content{
  margin: 0 auto;
  width: 710px;
}