.wrapper{
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.beer-list{
  background:#ccc;
  height: 500px;
}
.beer-list li{
  display: inline-block;
  float: left;
  outline: 1px solid #000;
  margin-right: 20px;
  min-height: 100px;
  width: 200px;
}

.main-footer{
  width: 100%;
}

.category-navigation{
  float: left;
  width: 250px;
}
.content{
  float: left;
  width: 710px;
}