extends layout

block content
  section(ng-controller='IndexCtrl')
    div(class='wrapper')
      nav(class='category-navigation')
        h3
          | Categorias
        ul
          li
            a(href='') Pilsen
          li
            a(href='') Stout

      div(class='content')
        h2
          | Cervejas
        ul(class='beer-list')
          li(data-ng-repeat='cerveja in cervejas')
            img(src='http://placehold.it/200x150', alt='')
            div(class='beer-list-info')
             |{{ cerveja.name }}

  script(src='js/lib/angular/angular.js')
  script(src='js/app.js')
  script(src='js/services.js')
  script(src='js/controllers.js')
  script(src='js/filters.js')
  script(src='js/directives.js')