/* app css stylesheet */
*{
  margin: 0;
  padding: 0;
}
ul{
  list-style: none;
}

.wrapper{
  margin: 0 auto;
  position: relative;
  width: 960px;
}

.main-header{
  background: #000;
  padding: 10px 0;
}

.beer-list{
  height: 500px;
}
.beer-list li{
  display: inline-block;
  float: left;
  outline: 1px solid #000;
  margin-right: 20px;
  min-height: 100px;
  width: 200px;
}

.main-footer{
  width: 100%;
}

.category-navigation{
  float: left;
  width: 250px;
}
.content{
  float: left;
  width: 710px;
}

.user-login-form-wrapper{
  background: cyan;
  padding: 10px;
  position: absolute;
  right: 0;
  z-index: 9999;
}
.user-login-form-wrapper label{
  display: block;
}
.user-login-form-wrapper button{
  display: block;
}