nav(class='category-navigation')
  h3
    | Categorias
  ul
    li(data-ng-repeat='cerveja in cervejas')
      a(href='beers/{{ cerveja.category }}')
        | {{ cerveja.category }}

div(class='content')
  h4
    | {{username}}
  h2
    | Cervejas
  ul(class='beer-list')
    li(data-ng-repeat='cerveja in cervejas')
      img(src='http://placehold.it/200x150', alt='')
      div(class='beer-list-info')
        a(href='beers/details/{{ cerveja._id }}')
          |{{ cerveja.name }}