h1(class='full-bordered-title')
  | Últimas cervejas cadastradas
div(class='btn-wrapper')
  span Ordenar por: 
  button(class='btn btn-small' data-ng-click='orderBy(\'name\')') Nome
  button(class='btn btn-small' data-ng-click='orderBy(\'category\')') Categoria
ul(class='beer-list')
  li(data-ng-repeat='cerveja in cervejas | orderBy:predicate:reverse')
    img(src='http://placehold.it/175x150', alt='')
    a(href='beers/details/{{ cerveja._id }}')
      |{{ cerveja.name }}
      br
      |{{ cerveja.category }}