h3 {{ workshop }}
h4 {{ msg }}

ul
  h4 {{ loja.name }}
  li
    | Nome: {{ loja.name }}
  li
    | Logradouro: {{ loja.address.logradouro }}
  li
    | Número: {{ loja.address.numero }}
  li
    | Complemento: {{ loja.address.complemento }}
  li
    | Bairro: {{ loja.address.bairro }}
  li
    | Cidade: {{ loja.address.cidade }}
  li
    | Estado: {{ loja.address.estado }}
  li
    | País: {{ loja.address.pais }}

p 
  button(data-ng-click='remove(loja)')
    | Excluir