h4(class='bordered-title') {{ loja.name }}
ul(class='block-list')
  li
    | Nome: {{ loja.name }}
  li
    | Logradouro: {{ loja.address.logradouro }}
  li
    | Número: {{ loja.address.numero }}
  li
    | Complemento: {{ loja.address.complemento }}
  li
    | Bairro: {{ loja.address.bairro }}
  li
    | Cidade: {{ loja.address.cidade }}
  li
    | Estado: {{ loja.address.estado }}
  li
    | País: {{ loja.address.pais }}

div(class='btn-wrapper')
  a(class='btn', data-ng-href='shops/{{loja._id}}/edit')
    | Alterar
  button(class='btn', data-ng-click='remove(loja)')
    | Excluir