h4 Busca das cervejas
div(class='content')
  h4
    | {{ msg }}
  h2
    | Cervejas
  //- ul(class='beer-list')
  //-   li(data-ng-repeat='evento in eventos')
  //-     span
  //-       | {{evento.nome}}
  ul(class='beer-list')
    li()
      |{{ busca }}