h4 Busca das cervejas

div(class='content')
  h4
    | {{ cervejas }}
  h2
    | Cervejas
  ul(class='beer-list' data-ng-model='busca')
    li(data-ng-repeat='cerveja in cervejas')
      {{cerveja.name}}