h4 Busca das cervejas
div(class='content')
  h4
    | {{ msg }}
  h2
    | Cervejas
  ul(class='beer-list')
    li Ah
    li(data-ng-repeat='cerveja in cervej')
      img(src='http://placehold.it/200x150', alt='')
      div(class='beer-list-info')
        a(href='beers/details/{{ cerveja._id }}')
          |{{ cerveja.name }}