h4(class='bordered-title') {{ cerveja.name }}
ul(class='block-list')
  li
    | Nome: {{ cerveja.name }}
  li
    | Categoria: {{ cerveja.category }}
  li
    | Álcool: {{ cerveja.alcohol }}
  li
    | Preço: {{ cerveja.price }}
  li
    | Descrição: {{ cerveja.description }}

div(class='btn-wrapper')
  a(class='btn', data-ng-href='beers/details/{{cerveja._id}}/edit')
    | Alterar
  button(class='btn', data-ng-click='remove(cerveja)')
    | Excluir