@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,600,700);

body{
  background: #f5f5f5;
  color: #272727;
  font-family: 'Raleway', sans-serif;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}
fieldset{
  border: none;
  padding: 0;
}